exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(RcppParallel)
import(Biostrings)
import(ape)
import(foreach)
import(doMC)
importFrom("stats", "as.dist", "sd")
importFrom("utils", "combn", "read.table", "setTxtProgressBar","txtProgressBar")
useDynLib(distIUPAC)
